/*****************************/
/* GENERAL */
/*****************************/

:root {
	/* COLORS */
	--base-color: #fff;
	--base-variant: #e8e9ed;
	--text-color: #111528;
	--secondary-text: #232738;
	--primary-color: #3a435d;
	--accent-color: #0071ff;
}

body {
	background-color: var(--base-color);
	color: var(--text-color);
}

/*****************************/
/* DARKMODE */
/*****************************/

.theme-switch {
	height: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: none;
	background-color: var(--base-variant);

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 2.4rem;
	right: 2.4rem;
}

.theme-switch svg {
	fill: var(--primary-color);
}

.light-mode-icon {
	display: none;
}
